@import '~bootstrap';

.media-body {
    background-image: url('https://www.tripsavvy.com/thmb/7pEOGMVeCbvcNmT60iqYPH-J6-A=/2119x1415/filters:fill(auto,1)/panoramic-view-nature-landscape-in-south-island-new-zealand-898280184-b1d7fd1b8e86441083b564d31a75066e.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-radius: 25px;
    border: 1px solid black;
    text-align: center;
}






