@import '~bootstrap';

.text-on-image {
    background-image: url('https://inspiringjourneys.com/assets/Uploads/lake-marian-fiordland-national-park-shutterstock_655246396-EDIT-HERO__FocusFillWzE2MDAsODIwLCJ5IiwyNDZd.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 1px 2px black;
    border-radius: 25px;
    border: 1px solid black;
    text-align: center;


}